body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.offcanvas .offcanvas-start .show{
  width:50%!important;
}
/* this media qurey is not working */
@media (min-width:'320px') and (min-width:'480px') {
  .container-fluid{
     padding-left: 1rem!important;
     padding-right: 1rem!important;
  }
}